{% extends "Homepage/basic.html" %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} About - Crowdfunding {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <main>
        <div class="imagecontent">
            <img src="{% static 'images/about.png' %}" alt="">
        </div>
        <div class="content">
            <div class="abouttext">
                <div class="heading">
                    <h2>Our team</h2>
                </div>
                <div class="contain">
                    <h6>At crowdfunding.com, we aim to free up your time so you can focus on what you love about your company. We provide you with quick answers to everyday business questions. From more automated accounting to better-priced inventory management, we’ll guide you to tailored solutions so you can confidently make the best choice for your business.
                        Crowd Funding is one the website for raising funds for startups and other businesses.it is solution for all related issues faced by borrower and investor.
                        All processes are very simple and online. you can raise fund for your business at home.
                        There will all details given of business and investor and also show tips and news of related funding and investor.
                        Client will give the feedback and suggestion to other. 
                        This system is time saving and very good for all people. inviduals will complete their dream by this platform.
                        Now in modern generation, Information technology is one of the field is now very popular so that all businesses is on online platform. our business same like that.
                        We are only linker and we are connects both of parties such as borrowers and investors.
                        Our system provided all over world and we attract the investor for fund raising.
                        We provided all services related starting business in simple way.



                        <!-- At Crowdfunding we understand the importance of securing the right funding for your business. Whether you're just starting out or looking to expand, finding the right source of funding can make all the difference. That's why we're dedicated to helping businesses of all sizes explore their funding options and find the best fit for their needs.

Our team of experts has extensive experience in the financing industry, and we're here to provide you with the guidance and support you need to secure the funding your business needs to thrive. We offer a range of services, including funding searches, loan application assistance, and advice on grant and investment opportunities.

We believe that every business has the potential to succeed, and we're committed to helping you achieve your goals. Contact us today to learn more about how we can help you secure the funding you need to grow your business. -->
                    </h6>
                </div>
                <div class="buttonarea">
                    <a href="/contact/"><button>Contact us</button></a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="logopart"><h1 style="cursor: pointer;">Crowd Funding</h1></div>
        <div class="socialmedia">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
        </div>
        <div class="policy" style="padding-bottom: 10px;">
          <h6>DISCLAIMER: Crowdfunding Technologies Pvt Ltd is NOT a stock exchange recognised by the Securities Exchange Board of India (SEBI) under the Securities Contract (Regulation) Act, 1956. The securities offered by any company registered on crowdfunding.com (“Platform”) are not traded on any stock exchange recognised by SEBI. crowdfunding does not allow any secondary market trading of securities on the Platform.
          </h6>
        </div>
      </footer>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>