<footer>
    <div class="logopart">
        <h1 style="cursor: pointer; color: white;">Crowd Funding</h1>
    </div>
    <div class="socialmedia">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        <a href="#" class="fa fa-instagram"></a>
    </div>
    <div class="policy" style="padding-bottom: 10px;">
        <h6 style="color: white;">DISCLAIMER: Crowdfunding Technologies Pvt Ltd is NOT a stock exchange recognised by the Securities Exchange
            Board of India (SEBI) under the Securities Contract (Regulation) Act, 1956. The securities offered by any
            company registered on crowdfunding.com (“Platform”) are not traded on any stock exchange recognised by SEBI.
            crowdfunding does not allow any secondary market trading of securities on the Platform.
        </h6>
    </div>
</footer>