{% extends "Homepage/basic.html" %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} Profile - {{user.first_name}} {{user.last_name}}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/6e04d39f81.js" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <style>
        body {
            background-color: #1f253d;
        }
    </style>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="container">
        {% for i in profile_data %}
        <div class="box1">
            <div class="user-data">
                <div class="user-info">
                    <div class="user-img">
                        <img src="/media/{{i.user_img}}"
                            alt="">
                    </div>
                    <div class="user-details">
                        <h5>{{user.first_name}} {{user.last_name}}</h5>
                        <li>{{i.account_type}}</li><br>
                        <a href="/edit_profile/"><button>Edit</button></a>
                    </div>
                </div>
            </div>
            <div class="contact-details">
                <h4>Contact Details</h4><br>
                <h6>
                    <li>{{i.email}}</li>
                </h6>
                <h6>
                    <li>{{i.mobile_no}}</li>
                </h6>
            </div>
            <div class="about-user">
                <h4>About Me</h4>
                <p>{{i.description}}</p>
            </div>
            <div class="about-user">
                <h4>Business Fields</h4>
                {% for j in fields_list %}
                <li>{{j}}</li>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="box2">
            <div class="content">
                <h4>Posts</h4>
                {% if blog_data %}
                {% for i in blog_data %}
                <div class="contain">
                    <div class="profile-data">
                        <div class="profile-img">
                            <i style='font-size:25px; color: black;' class='fas'>&#xf406;</i>
                        </div>
                        <form action="/profiles/" method="post">{% csrf_token %}
                            <input type="text" name="email_id" value="{{i.email_id}}" id="" hidden>
                            <button type="submit" style="border: none; background-color: transparent;">
                                <div class="name"><b>{{i.full_name}}</b>
                                </div>
                            </button>
                        </form>
                    </div>
                    <div class="content-data">
                        <div class="main-content">
                            <p style="color: black;">{{i.blog_desc}}</p>
                        </div>
                        <div class="content-img">
                            <img src="/media/{{i.blog_img}}" alt="">
                        </div>
                    </div>
                    <div class="content-social">
                        <div class="like-btn">
                            <i onclick="toggleButton(this)" class="fa fa-thumbs-up"></i>
                        </div>
                        <div class="comment-btn">
                            <i style='font-size:24px' id="{{i.id}}" onclick="reply_click()" class='fas'>&#xf27a;</i>
                        </div>
                        <div class="share-btn">
                            <i style="font-size:24px" class="fa">&#xf1e0;</i>
                        </div>
                    </div>
                    <div class="comment_part" id="comment{{i.id}}" style="color: black;">
                        {% if comment_data %}
                        <div class="comments">
                            {% for j in comment_data %}
                            {% if j.blog_id == i.id %}
                            <div class="user_desk">
                                <i style='font-size:25px; margin-right: 10px; margin-left: 10px;'
                                    class='fas'>&#xf406;</i>
                                <b style="color: black;">{{j.first_name}}</b>
                            </div>
                            <div class="comment-content">
                                {{j.comment}}
                            </div>
                            <hr>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% else %}
                        <h6 style="color: black; text-align: center;">No any comments yet!!</h6>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <br><h6>- No Any posts yet</h6>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
{% block script %}
<script>
    let id;
    function reply_click() {
        id = event.srcElement.id;
        var x = document.getElementById("comment" + id);
        if (x.style.display == "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
    function toggleButton(x) {
        x.classList.toggle("fa-thumbs-down");
    }
    
    if (document.getElementById("message") != null) {
        setTimeout(() => {
            document.getElementById("message").style.display = "none";
        }, 2000);
    }

    var upload_field = document.getElementById("id_blog_img");
</script>
{% endblock %}

</html>