@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .box1 {
    height: auto;
    width: 45%;
}

.container .box1 .user-data {
    border-radius: 10px;
    margin: 10px;
    background-color: #394264;
}

.container .box1 .user-info {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
}

.container .box1 .user-info .user-img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.container .box1 .user-info .user-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.container .box1 .user-info .user-details {
    height: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.container .box1 .contact-details {
    border-radius: 10px;
    margin: 10px;
    background-color: #394264;
    margin-top: 20px;
    color: white;
    padding: 20px;
}

.container .box1 .user-info .user-details button {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
}

.container .box1 .about-user {
    border-radius: 10px;
    margin: 10px;
    background-color: #394264;
    margin-top: 20px;
    color: white;
    padding: 20px;
}

.container .box2 {
    height: auto;
    width: 45%;
}

.container .box2 .content{
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    background-color: #394264;
    padding: 10px;
    color: white;
}

.container .box2 .content .contain {
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
}

.container .box2 .content .contain .profile-data {
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
}

.container .box2 .content .contain .profile-data .profile-img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container .box2 .content .contain .profile-data a .name {
    height: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.container .box2 .content .contain .profile-data a {
    list-style: none;
}

.container .box2 .content .contain .content-data {
    height: auto;
}

.container .box2 .content .contain .content-data .main-content {
    height: auto;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 10px;
}

.main-content::-webkit-scrollbar {
    display: none;
}

.container .box2 .content .contain .content-data .content-img {
    height: 100%;
    width: 100%;
}

.container .box2 .content .contain .content-data .content-img img {
    height: 100%;
    width: 100%;
}

.container .box2 .content .contain .content-social {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.container .box2 .content .contain .content-social .like-btn {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.container .box2 .content .contain .content-social .like-btn i {
    cursor: pointer;
    color: black;
}

.container .box2 .content .contain .content-social .like-btn .fa {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

.container .box2 .content .contain .content-social .like-btn .fa:hover {
    color: darkblue;
}

.container .box2 .content .contain .content-social .comment-btn {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box2 .content .contain .content-social .comment-btn i {
    cursor: pointer;
}

.container .box2 .content .contain .content-social .share-btn {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box2 .content .contain .content-social .share-btn i {
    cursor: pointer;
}

.container .box2 .content .contain .comment_part {
    max-height: auto;
    overflow: scroll;
    display: none;
    overflow-x: hidden;
}

.comment_part::-webkit-scrollbar {
    display: none;
}

.container .box2 .content .contain .comment_part .add_comment {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box2 .content .contain .comment_part .add_comment input {
    height: 35px;
    width: 300px;
    margin-right: 20px;
    border: 0.5px solid black;
    border-radius: 20px;
}

.container .box2 .content .contain .comment_part .comments {
    height: 100px;
    color: black;
}

.container .box2 .content .contain .comment_part .comments .user_desk {
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.container .box2 .content .contain .comment_part .comments .comment-content {
    height: auto;
    padding: 5px;
    color: black;
}
@media screen and (max-width: 768px) {
    .container .box1{
        width: 90%;
        margin: 0;
    }
    .container .box2{
        width: 90%;
        margin: 0;
        margin-top: 10px;
    }
    .container .box2 .content{
        margin: 0;
    }
}